 .a {
      background-color:#33adff;
      text-align:center;
    }
    .b {
      background-color:;
      text-align:center;
      margin-left:25%;
    }
    .c {
      background-color:;
      text-align:center;
      margin-left:3%;
    }
    

